.brand_logo {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: var(--navbarColor);
    padding: 1rem;
    width: 100%;
}

.navbar_container {
    width: 80%;
}

.navbar_logo {
    height: 1.5rem;
}

.theme_button {
    width: 5rem;
    padding: 0.4rem 0;
    background: var(--cardColor);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
}