.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(172, 169, 177);
    padding: 1rem;
    width: 100%;
}

.navbar_logo {
    height: 1.5rem;
}

.theme_button {
    width: 5rem;
    background: var(--cardColor);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
}