.flex {
  display: flex;
}

.flex_direction_column {
  flex-direction: column;
  
}

.flex_wrap_wrap {
  flex-wrap: wrap;
}

.align_items_center{
  align-items: center;
}

.justify_content_center{
  justify-content: center;
}

.justify_content_space_around {
  justify-content: space-around;
}

.justify_content_space_between {
  justify-content: space-between;
}

.text_align_center {
  text-align: center;
}