body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --basicMargin: 4rem;
  color: var(--textColor);
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.light_theme {
  --navbarColor: #d2d7da;
  --backgroundColor: white;
  --cardColor: #d2d7da;
  --textColor: black;
}

.dark_theme {
  --navbarColor: #475157;
  --backgroundColor: #263138;
  --cardColor: #475157;
  --textColor: white;
}
